<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.css">

    <title>Dashboard</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color: #3B5999;">
    <a class="navbar-brand" href="/dashboard">
        <i class="fas fa-book-open"></i> Dashboard
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:text="${user.firstName} + ' ' + ${user.lastName}" href="/user">#</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h3><i class="fas fa-route"></i> Маршруты </h3>
            <hr class="my-4">
            <div class="list-group" th:each="rout: ${routes}">
                <a th:href="@{/routes/{id}/(id=${rout.id})}" class="list-group-item list-group-item-action"
                   th:text="${rout.name} + '  [' + ${rout.date} + ']'">#</a>
            </div>
            <br/>
            <a href="/routes/add" class="btn btn-primary btn-sm" role="button">new routes</a>
        </div>

        <div class="jumbotron" style="margin-left: 10px;">
            <h3><i class="far fa-file"></i> Узнать хэш-суммы файла (MD5 and SHA256)</h3>
            <hr class="my-4">
            <form method="POST" action="/files/uploadFile" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02"
                               data-browse="Обзор">Выберите файл</label>
                    </div>
                    <div class="input-group-append">
                        <input class="btn btn-primary" type="submit" value="Отправить"/>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col">
                    <form method="get" action="/files/search/md5" class="form-inline">
                        <div class="input-group mb-3">
                            <input class="form-control" type="search" placeholder="Поиск по MD5" aria-label="Search"
                                   name="hash"/>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" id="button-addon2">Поиск</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col">
                    <form method="get" action="/files/search/sha256" class="form-inline">
                        <div class="input-group mb-3">
                            <input class="form-control" type="search" placeholder="Поиск по SHA256" aria-label="Search"
                                   name="hash"/>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" id="button-addon3">Поиск</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <ul th:each="item: ${allFileUser}" class="list-unstyled">
                <li><i class="far fa-file text-primary"></i> <a th:href="@{/files/{id}(id=${item.id})}"
                                                                th:text="${item.fileName}"></a></li>
            </ul>
            <a href="/files" class="btn btn-primary btn-sm" role="button">Files</a>
        </div>
    </div>
    <p class="text-center"><a href="/logout" class="badge badge-light"><i class="fas fa-sign-out-alt"></i> logout</a>
    </p>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>