<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.css">

    <title>Files</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color: #3B5999;">
    <a class="navbar-brand" href="/dashboard">
        <i class="fas fa-book-open"></i> Dashboard
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:text="${user.firstName} + ' ' + ${user.lastName}" href="/user">#</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">hash</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody >
            <tr th:each="item: ${listFiles}">
                <th scope="row" th:text="${item.id}">1</th>
                <td th:text="${item.fileName}">Mark</td>
                <td>
                    <p><strong>MD5:</strong> <small class="text-muted" th:text="${item.md5}"></small></p>
                    <p><strong>SHA256:</strong> <small class="text-muted" th:text="${item.sha256}"></small></p>
                </td>
                <td>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a th:href="@{/files/download/{id}/(id=${item.id})}" th:alt-title="Скачать" class="btn btn-success btn-sm" role="button"><i class="fas fa-arrow-down"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a th:href="@{/files/delete/{id}/(id=${item.id})}" th:alt-title="Удалить" class="btn btn-danger btn-sm" role="button"><i class="fas fa-trash"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

        <a href="/dashboard" class="btn btn-primary btn-sm" role="button">Go index</a>
    </div>
</div>

</body>
</html>