<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.css">

    <title>File</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color: #3B5999;">
    <a class="navbar-brand" href="/dashboard">
        <i class="fas fa-book-open"></i> Dashboard
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:text="${user.firstName} + ' ' + ${user.lastName}" href="/user">#</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <th:block th:if="${oneFile != null}">
            <h3><i class="far fa-file"></i> <span th:text="${oneFile.fileName}"></span></h3>
            <hr class="my-4">
            <dl class="row">
                <dt class="col-sm-2">Type:</dt>
                <dd class="col-sm-10" th:text="${oneFile.fileType}"></dd>
                <dt class="col-sm-2">Byte:</dt>
                <dd class="col-sm-10" th:text="${oneFile.size}"></dd>
                <dt class="col-sm-2">MD5:</dt>
                <dd class="col-sm-10" th:text="${oneFile.md5}"></dd>
                <dt class="col-sm-2">SHA256:</dt>
                <dd class="col-sm-10" th:text="${oneFile.sha256}"></dd>
                <dt class="col-sm-2">Date:</dt>
                <dd class="col-sm-10" th:text="${oneFile.time}"></dd>
            </dl>
            <a href="/dashboard" class="btn btn-primary btn-sm" role="button">Go index</a>
            <a href="/files" class="btn btn-primary btn-sm" role="button">All files</a>
            <a th:href="@{/files/delete/{id}/(id=${oneFile.id})}" class="btn btn-danger btn-sm" role="button">Delete</a>
            <a th:href="@{/files/download/{id}/(id=${oneFile.id})}" class="btn btn-primary btn-sm" role="button">Download</a>
            </th:block>
            <th:block th:if="${oneFile == null}">
                <div class="alert alert-warning" role="alert">
                    Поиск результатов не дал...
                </div>
                <a href="/dashboard" class="btn btn-primary btn-sm" role="button">Go index</a>
                <a href="/files" class="btn btn-primary btn-sm" role="button">All files</a>
            </th:block>
        </div>
    </div>
</div>

</body>
</html>