<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.css">
    <script src="/js/jquery-3.4.1.js"></script>
    <title>ROUTES</title>
    <script>
        jQuery(document).ready(function ($) {
            let i = $('.experienceCount').length;
            $('#add').click(function () {
                $('<div class="form-row align-items-center experienceCount">' +
                    '<div class="col-auto"><input name="url[' + i + '].urlName" class="form-control" type="text" /></div>' +
                    '<div class="col-auto"><input name="url[' + i + '].step" class="form-control" type="text" /></div></div>').fadeIn('slow').appendTo('.myTest');
                i++;
            });
            $('#remove').click(function () {
                if (i > 1) {
                    $('.experienceCount:last').remove();
                    i--;
                }
            });
        });
    </script>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color: #3B5999;">
    <a class="navbar-brand" href="/dashboard">
        <i class="fas fa-book-open"></i> Dashboard
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:text="${user.firstName} + ' ' + ${user.lastName}" href="/user">#</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <!--/*@thymesVar id="routesOne" type="ru.tretyakov.demo.service.RoutesDTO"*/-->
            <form method="post" action="/routes">
                <input name="id" type="hidden" th:value="${routesOne.id}"/>
                <div>
                    <p><i class="fas fa-route"></i> Routes </p>
                    <div class="form-row align-items-center">
                        <div class="col-auto"><input name="name" type="text" class="form-control" id="name"
                                                     th:value="${routesOne.name}"/></div>
                        <div class="col-auto"><input name="date" type="text" class="form-control" id="date"
                                                     th:value="${routesOne.date}"/></div>
                    </div><br/>
                    <p><i class="fas fa-link"></i> URLs:
                        <button type="button" id="add" class="btn btn-light btn-sm"><i class="fas fa-plus"></i></button>
                        <button type="button" id="remove" class="btn btn-light btn-sm"><i class="fas fa-trash-alt"></i>
                        </button>
                    </p>
                    <!--/*@thymesVar id="url" type="list<ru.tretyakov.demo.service.UrlDTO>"*/-->
                    <div th:each="url, stat : ${routesOne.url}" class="form-row align-items-center experienceCount">
                        <input type="hidden" th:name="${'url[' + stat.index + '].id'}" th:value="${url.id}"/>
                        <div class="col-auto">
                            <input th:name="${'url[' + stat.index + '].urlName'}" th:value="${url.urlName}"
                                   class="form-control" type="text"/></div>
                        <div class="col-auto">
                            <input th:name="${'url[' + stat.index + '].step'}" th:value="${url.step}"
                                   class="form-control"
                                   type="text"/></div>
                        <th:block th:if="${stat.count > 1}">
                            <div class="col-auto">
                                <a class="btn btn-danger btn-sm" role="button"
                                   th:href="@{/routes/{id}/delete/{url}(id=${routesOne.id}, url=${url.id})}"><i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </th:block>
                    </div>
                    <div class="myTest"></div>
                    <br/>
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                    <a href="/dashboard" class="btn btn-primary btn-sm" role="button">Go index</a>
                    <a th:if="${routesOne.id}" th:href="@{/routes/delete/{id}(id=${routesOne.id})}" class="btn btn-danger btn-sm" role="button">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>

</body>
</html>