<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.css">

    <title>File info</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color: #3B5999;">
    <a class="navbar-brand" href="/dashboard">
        <i class="fas fa-book-open"></i> Dashboard
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:text="${user.firstName} + ' ' + ${user.lastName}" href="/user">#</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h3><i class="far fa-file"></i> Submitted File</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>FileName:</td>
                        <td th:text="${file.getOriginalFilename()}"></td>
                    </tr>
                    <tr>
                        <td>Type:</td>
                        <td th:text="${file.getContentType()}"></td>
                    </tr>
                    <tr>
                        <td>Byte:</td>
                        <td th:text="${file.getSize()}"></td>
                    </tr>
                    <tr>
                        <td>SHA256:</td>
                        <td th:text="${sha256Hex}"></td>
                    </tr>
                    <tr>
                        <td>MD5:</td>
                        <td th:text="${md5Hex}"></td>
                    </tr>
                    </tbody>
                </table>
                <a href="/dashboard" class="btn btn-primary btn-sm" role="button">Go index</a>
                <a href="/files" class="btn btn-primary btn-sm" role="button">Files</a>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>