<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.css">

    <title>User</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color: #3B5999;">
    <a class="navbar-brand" href="/dashboard">
        <i class="fas fa-book-open"></i> Dashboard
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:text="${user.firstName} + ' ' + ${user.lastName}" href="/user">#</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h3><i class="fas fa-user-astronaut"></i> <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span> </h3>
            <small class="text-muted"><p th:text="'email: ' + ${user.email} + ' id: ' + ${user.id}"></p></small>
            <hr class="my-4">
            <ul th:each="item: ${allFileUser}" class="list-unstyled">
                <li>
                    <a th:href="@{/files/download/{id}/(id=${item.id})}" class="btn btn-outline-primary btn-sm" role="button" th:alt-title="Скачать"><i class="fas fa-arrow-down"></i></a>
                    <a th:href="@{/files/{id}(id=${item.id})}" th:text="${item.fileName}"></a>
                </li>
            </ul>
            <small class="text-muted"><p th:text="'Всего файлов: ' + ${allFileUser.size()}"></p></small>
            <a href="/dashboard" class="btn btn-primary btn-sm" role="button">Go index</a>
            <a href="/files" class="btn btn-primary btn-sm" role="button">Files</a>

            <br/><br/>
            <p class="text-center"><a href="/logout" class="badge badge-danger"><i class="fas fa-sign-out-alt"></i> logout</a></p>
        </div>
       </div>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>